@model JuiceLifeProj.Delivery
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<div>
    <h4>Delivery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryPerson)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryPerson)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeliveryId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", new object { }, new { @class = "btn btn-primary" })
</p>
