@model JuiceLifeProj.Supplier

@{
    ViewBag.Title = "Details";
}

<br />
<h2>Details</h2>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierPhone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SupplierId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", new object { }, new { @class = "btn btn-primary" })
</p>