@model IEnumerable<JuiceLifeProj.Supplier>
@{
    ViewBag.Title = "Suppliers";
}
<br />
<h2>Suppliers</h2>
<hr />

@*<p>
        <button type="submit" class="btn btn-primary">
            @Html.ActionLink("Create New", "Create", new { @class = "myactionlink" })
        </button>
    </p>*@
@Html.ActionLink("Create New", "Create", new object { }, new { @class = "btn btn-primary" })

<p>
    @using (Html.BeginForm("Index", "Suppliers", FormMethod.Get))
    {
        <b>Search By: Supplier Name</b>
        @*@Html.RadioButton("searchBy", "SupplierName", true)<text>Name</text>*@
        @*@Html.RadioButton("searchBy", "SupplierEmail")<text>Email</text>*@
        @Html.TextBox("search") <input type="submit" value="Search" class="btn btn-primary" />

    }
</p>
<table class="table table-hover">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.SupplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierPhone)
        </th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="3">No rows match search criteria</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr class="table-active">
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierPhone)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SupplierId }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SupplierId }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SupplierId }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    }
</table>
