@model JuiceLifeProj.Leave
@{
    ViewBag.Title = "Details";
}
<br />
<h2>Details</h2>
<div>
    <h4>Leave</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LeaveType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LeaveType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.Document)*@
            <img src="@Url.Content(Model.Document)" width="500" height="500" />
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Review Leave", "Edit", new { id = Model.LeaveId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to leave List", "Index", new object { }, new { @class = "btn btn-primary" })
</p>
