@model IEnumerable<JuiceLifeProj.Leave>
@{
    ViewBag.Title = "Leaves";
}
<br />
<h2>Leaves</h2>
<p>
    @Html.ActionLink("Create New", "Create", new object { }, new { @class = "btn btn-primary" })
</p>

@Html.ActionLink("Export to Excel", "Reports", new { ReportType = "Excel" }) |
@Html.ActionLink("Export to PDF", "Reports", new { ReportType = "PDF" }) |
@Html.ActionLink("Export to Word", "Reports", new { ReportType = "Word" }) |
@Html.ActionLink("Export to Image", "Reports", new { ReportType = "Image" })
<br /><br />



<table class="table table-hover">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Document)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="table-active">
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Document)
            </td>
            <td>
                @Html.ActionLink("Review Leave", "Edit", new { id = item.LeaveId }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.LeaveId }, new { @class = "btn btn-primary" }) |
            </td>
        </tr>
    }
</table>
